* {
  position: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.main {
  background: #5f7b96;
  overflow: hidden;
}
.container {
  width: calc(100% - 50px);
  max-width: 800px;
  padding: 25px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  height: 55px;
  border-bottom: 2px solid #fff;
}
.btn {
  width: 100%;
  max-width: 120px;
  height: 30px;
  border-radius: 2px; 
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.add__btn {
  background: #f44336;
  margin-right: 15px;
}
.clear__btn {
  background: #2d445d;
}
.title {
  color: #353535;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  margin-right: auto;
}
.board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  min-height: calc(100vh - 130px);
  box-shadow: 2px 3px 7px rgba(102,102,102,.75);
  overflow: hidden;
}
.sticker {
  position: relative;
  width: calc(25% - 15px);
  height: 150px;
  margin-bottom: 15px;
  margin-right: 20px;
  background: rgba(255, 200, 35, 0.9);
  box-shadow: 2px 3px 7px rgba(102,102,102,.75);
  z-index: 1;
}
.sticker:nth-child(4n) {
  margin-right: 0;
}
.sticker__delete {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 18px;
  text-align: center;
  font-family: cursive;
  font-size: 18px;
  line-height: 18px;
  padding: 5px;
  color: #2d445d;
  cursor: pointer;
}
.sticker__delete:hover {
  color: #f44336;
}
.sticker__title {
  font-size: 16px;
  line-height: 30px;
  background: rgba(210, 155, 1, 0.5);
  padding: 0 25px 0 10px;
  cursor: all-scroll;
}
.sticker__descr {
  padding: 10px;
}
.input__form {
  width: calc(100% - 42px);
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 14px;
  background: #eaeaea;
  resize: none;
}
#formSticker {
  overflow: hidden;
}