* {
  position: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.main {
  background: #5f7b96;
}
.tabset__conteiner {
  position: relative;
  width: calc(100% - 50px);
  max-width: 800px;
  padding: 25px;
  margin: 0 auto;
}
.tabset__tabs {
  display: flex;
}
.tabset__title {
  padding: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
}
.tabset__title.active{
  background: #ccc;
}
.tabset__buttons {
  margin-left: auto;
}
.tabset__content {
  display: none;
}
.tabset__content.active {
  display: block;
  height: 200px;
  padding: 10px;
  border-radius: 2px;
  background: #ccc;
}
.tabset__btn {
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
}
.prev {
  margin-right: 5px;
}